body{
    font-family: 'Calibri';
    width: 100%;
    margin: 0;
    background: #bdc3c7;  /* fallback for old browsers */
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    color: wheat;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

div{
    width: min-content;
    margin: auto 7%;
}

form{
    background: #D6D6D6;
    padding: 7px;
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px 20px 5px;
    text-align: center;
}

#register{
    float: left;
}

#signIn{
    float: right;
}

input:not([type="checkbox"]), select{
    background: #E6E6E6;
    height: 30px;
    width: 400px;
    border: 1px solid darkgrey;
    border-radius: 7px;
    padding-left: 34px;
    background-position: 8px 8px; 
    background-repeat: no-repeat;
}

input[type="text"]{
    background-image: url('lib/user.png');
}

input[type="password"]{
    background-image: url('lib/lock.png');
}

input[type="email"]{
    background-image: url('lib/envelope.png');
}

label{
    float: left;
    font-size: 17px;
}

select{
    height: 34px;
    width: 436px;
    background-image: url('lib/globe.png');
}

input[type="submit"]{
    height: 34px;
    width: 436px;
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    padding: 0;
}

#typeMessage{
    height: 100px;
}

input::placeholder, select{
    font-family: 'Calibri';
    font-size: 17px;
    color: darkgrey;
    margin: 0;
}

.marginBottom{
    margin-bottom: 7px;
}
